{% extends "models/base.twig" %}
{% block pageName %}Login{% endblock %}
{% block body %}
    <div class="div-center center">
        <div class="item-group">
            <div>
                <h1>Sign Up</h1>
                <p>No account for you</p>
            </div>
        </div>
     </div>   
{% endblock %}
