{% extends "models/base.twig" %}
{% block pageName %}landing{% endblock %}
{% block body %}
    <div class="header">
        <h1>Hello World!</h1>
        <p>This is from <s>laravel</s> watrkit 2.5!</p>
    </div>

{% endblock %}
