{% extends "models/base.twig" %}
{% block pageName %}landing{% endblock %}
{% block body %}
    <div class="container" style="width: 250px; height: 250px; margin-top: 15px; padding: 10px;">
        <h1>Hi.</h1>
    </div>
{% endblock %}
