{% extends "models/base.twig" %}
{% block pageName %}landing{% endblock %}
{% block body %}
    <div class="header">
        <h1>Hello World!</h1>
        <p>This page is meant to be empty!</p>
    </div>
{% endblock %}
