@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --body-color: white;
    --nav-color: #289e9f;
    --container-color: #e3e1e1;
    --input-color: #e0e0e0;
    --danger-color: #cc2828;
    --warning-color: #ffc800;
    --sidebar-color: #f1f1f1;
    --primary-color: #1dd0d1;
    --secondary-color: #21afb0;
    --disabled-color: #0b5657;
    
}

* {
    transition: 0.2s;
}

html, body {
    font-family: "Montserrat", sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: var(--body-color);
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#navbar {
    color: white;
    background-color: var(--nav-color);
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    box-shadow: 5px 5px 5px rgba(15, 15, 15, 0.4);
}

#footer {
    color: white;
    background-color: var(--nav-color);
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
    box-shadow: 10px 10px 10px 10px rgba(15, 15, 15, 0.5);
}

.container {
    display: flex;
    flex-direction: column;
    background-color: --container-color;
    box-shadow: 5px 5px 5px 5px rgba(15, 15, 15, 0.4);
    margin-left: auto;
    margin-right: auto;
}

#footer p {
    width: 100%;
}

#site-warning {
    align-content: center;
    color: white;
    background-color: var(--danger-color);
    height: 45px;
    width: 100%;
    text-align: left;
    box-shadow: 5px 5px 5px rgba(15, 15, 15, 0.4);
}

#site-warning p {
    margin: 0px;
    margin-left: 15px;
}

.nav-group {
    padding-left: 5px;
    padding-right: 5px;
    align-content: center;
}

.nav-item {
    color: white;
    text-decoration: none;
    align-content: center;
    padding: 5px;
}

#sidebar-nav {
    padding-left: 10px;
    padding-right: 5px;
}

#main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header {
    margin-left: 20px;
}

#sidebar {
    transition: 0.2s;
    z-index: 2;
    width: 250px;
    display: flex;
    position: fixed;
    background-color: var(--sidebar-color);
    height: 100%;
    box-shadow: 5px 5px 5px rgba(15, 15, 15, 0.5);
}

.danger {
    background-color: var(--danger-color);
}

.warning {
    background-color: var(--warning-color);
}

.side-hidden {
    overflow: hidden;
    width: 0px !important;
}

.modal-bg {
	transition: 0.5s;
    align-items: center;
    justify-content: center;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.4);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}

.center {
	text-align: center;
	float: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.div-center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input {
    color: black;
    background-color: var(--input-color);
    border: none;
    padding: 10px;
}

.button {
    background-color: var(--primary-color);
}

#error-button {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-right: 5px;
}

#error_emoji {
    margin-left: 15px;
}

.button:hover {
    background-color: var(--secondary-color);
}