{% block footer %}
<div id="footer">
    <p>©{{ env('APP_NAME') }} - 2025 - ToS - Privacy Policy</p>
</div>
<script type="text/javascript" src="/assets/js/watrlabs.js?t=<?=time()?>"></script>
</body>
</html>
{% endblock %}
