<div class="mySubmenuFixed Redesign">
    <div id="subMenu" class="subMenu">
        <ul>
            <li><a data-se="subnav-profile" href="http://www.roblox.com/User.aspx?submenu=true">Profile</a></li>
            <li><a data-se="subnav-character" href="http://www.roblox.com/My/Character.aspx">Character</a></li>
            <li><a data-se="subnav-friends" href="http://www.roblox.com/My/EditFriends.aspx">Friends</a></li>
            <li><a data-se="subnav-groups" href="http://www.roblox.com/My/Groups.aspx">Groups</a></li>
            <li><a data-se="subnav-inventory" href="http://www.roblox.com/My/Stuff.aspx">Inventory</a></li>
            <li><a data-se="subnav-sets" href="http://www.roblox.com/My/Sets.aspx">Sets</a></li>
            <li><a data-se="subnav-trade" href="http://www.roblox.com/My/Money.aspx?tab=TradeItems">Trade</a></li>
            <li><a data-se="subnav-money" href="http://www.roblox.com/My/Money.aspx?tab=MyTransactions">Money</a></li>
            <li><a data-se="subnav-advertising" href="http://www.roblox.com/develop?Page=ads">Advertising</a></li>
            <li><a data-se="subnav-account" href="http://www.roblox.com/My/Account.aspx">Account</a></li>
        </ul>
    </div>
</div>

