{% extends "models/base.twig" %}
{% block pageName %}Page Not Found{% endblock %}
{% block body %}
<div class="div-center center">
    <div class="item-group">
        <div class="item-container">
            <div style="display: flex;  flex-direction: column;">
                <h1 style="margin-bottom: 0.25rem;">404 - Not found</h1>
                <p>Can't find that page! Maybe try again?</p>
                <br>
                <div>
                    <a href="#" onclick="history.back();return false;">Go back</a>
                    <a href="/">Go home</a>
                </div>
            </div>
            </div>
            <div id="error_emoji">
                <img src="/assets/images/blobs/thinking.png" alt="Thinking Face Emoji" title="Thinking Face Emoji" height="179.33" style="margin-left: 20px">
            </div>
        </div>
    </div>
</div>
{% endblock %}
